@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 228 70% 100%;
      --foreground: 228 69% 3%;
      --muted: 330 1.03% 61.96%;
      --muted-foreground: 228 8% 40%;
      --popover: 228 70% 100%;
      --popover-foreground: 228 69% 3%;
      --card: 0 0% 99%;
      --card-foreground: 228 69% 2%;
      --border: 228 2% 95%;
      --input: 228 2% 95%;
      --primary: 253.55 84.93% 28.63%;
      --primary-foreground: 0 0% 100%;
      --secondary: 23.73 94.02% 45.88%;
      --secondary-foreground: 228 0% 100%;
      --accent: 228 8% 91%;
      --accent-foreground: 228 8% 31%;
      --destructive: 8 90% 36%;
      --destructive-foreground: 8 90% 96%;
      --ring: 228 70% 61%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 228 32% 1%;
      --foreground: 228 28% 100%;
      --muted: 228 8% 7%;
      --muted-foreground: 228 8% 60%;
      --popover: 228 32% 1%;
      --popover-foreground: 228 28% 100%;
      --card: 228 32% 2%;
      --card-foreground: 0 0% 100%;
      --border: 228 2% 13%;
      --input: 228 2% 13%;
      --primary: 228 70% 61%;
      --primary-foreground: 0 0% 100%;
      --secondary: 228 5% 15%;
      --secondary-foreground: 228 5% 75%;
      --accent: 228 5% 15%;
      --accent-foreground: 228 5% 75%;
      --destructive: 8 90% 56%;
      --destructive-foreground: 0 0% 100%;
      --ring: 228 70% 61%;
    }
  }
  

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body{
  @apply overflow-x-hidden
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.bg-background {
  @apply bg-white
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.shadow-card {
  box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.1);
}

.navContainer {
  padding: 0.7rem;
}

